<div>
    <h3>Edit Question<center></h3>
    {{#each questions}}
      <button class="btn waves-effect waves-light blue" onclick = "javascript:location.href = '/question/{{this.id}}/edit';"> Edit</button> &nbsp;&nbsp;&nbsp;{{question_text}}<br>
    {{/each}}
</div>
