<!DOCTYPE html>
<html>
  <head>
    <title>Trivia Junkie</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    <body>
        <nav id="top-nav">
            <div class="nav-wrapper blue">
              <a href="#" class="brand-logo center">Trivia Junkie</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/game/start">Play</a></li>
                <li><a href="/category">Categories</a></li>
                <li><a href="/game">My Stats</a></li>
              </ul>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                 {{#if user}}
                    <li>{{user}}</li>
                    <li><a href="/auth/logout">Log Out</a></li>
                 {{else}}
                    <li><a href="/auth/login">Log In / Sign Up</a></li>
                 {{/if}}
              </ul>
            </div>
          </nav>
        <div class="main">
        {{{body}}}
        </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/javascripts/gameplay.js"></script>
  </body>
</html>
