<h1>Statistics for {{user}}</h1>
<table>
  <thead>
    <tr>
      <th>Game #</th>
      <th>Category</th>
      <th>Questions</th>
      <th>Score</th>
      <th>View Game</th>
    </tr>
  </thead>

  <tbody>
  
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href= "/"  class="btn waves-effect waves-light blue" type="submit" name="action">View</a></td>
    </tr>

  </tbody>
</table>