<div class="container">
    <div class="row" id="game-start"><center>
      <h3> What do you want to call your new category?</h3>
        <form action="/category/createNewCategory" method="POST" >

        <div class="input-field">
            <input placeholder="Sports Teams" id="category_name" type="text" class="validate" name="category_name">
            <label for="category">New Category Name</label>
        </div>
    </div>
</div>
