<container>
    <div class="row col s6">
        <form method="post" action="/question" novalidate>
            <div class="row">
                <h4>Add a Question</h4>
                <div class="input-field">
                    <input id="question_text" type="text" class="validate" name="question" required>
                    <label for="question">Question</label>
                </div>
            </div>
            <div class="row">
             <div class="input-field">
                 <select name="question_type" id="questionType">
                    <option disabled selected>Select Answer Type</option>
                    <option value="boolean" class="blue" id="boolean">True/False</option>
                    <option value="multiple choice" class="blue" id="multipleChoice">Multiple Choice</option>
                 </select>
              </div>
          </div>
          <div id="mult-form" style="display:none">
              <div class="row">
                  <div class="input-field">
                      <input id="answer1" type="text" class="validate" name="answer1" required>
                      <label for="answer1">✅</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field">
                      <input id="answer2" type="text" class="validate" name="answer2" required>
                      <label for="answer2">❌</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field">
                      <input id="answer3" type="text" class="validate" name="answer3" required>
                      <label for="answer3">❌</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field">
                      <input id="answer4" type="text" class="validate" name="answer4" required>
                      <label for="answer4">❌</label>
                  </div>
              </div>
          </div>
          <div id="bool-form" style="display:none">
             <div class="input-field" id="true-false">
                 <p>
                   <input name="boolean" value="true" type="radio" id="true" class="blue"/>
                   <label for="true">True</label>
                 </p>
                 <p>
                   <input name="boolean" value="false" type="radio" id="false" class="blue"/>
                   <label for="false">False</label>
                 </p>
             </div>
         </div>
         <div class="row">
           <div class="input-field">
              <select name="category_id" id="categoryName">
                 <option disabled selected>Select Category</option>
                 {{#each categories}}
                   <option value="{{id}}" class="blue-text">{{category_name}}</option>
                 {{/each}}
              </select>
           </div>
       </div>
             <div class="row">
                 <div>
                     <p class="left-align">
                         <button class="btn btn-small waves-effect waves-light nav-wrapper blue" type="submit" value="login">Submit Question</button>
                     </p>
                 </div>
             </div>
         </form>
     </div>
</container>
